# The large notebook file should not be counted by GitHub Linguist.
/main/generate-random-point-in-a-circle/generate-random-point-in-a-circle-test.nb linguist-generated

# GitHub Linguist sometimes guesses Forth for .fs files. Here, they're all F#.
*.fs linguist-language=fsharp

# Most .linq files are C#, but some are F#. Tell GitHub Linguist about those.
/hier/sort/sorting/sorting2a.linq linguist-language=fsharp
/main/30-days-of-code/30-2d-arrays.linq linguist-language=fsharp
/main/30-days-of-code/30-arrays.linq linguist-language=fsharp
/main/30-days-of-code/30-binary-numbers.linq linguist-language=fsharp
/main/30-days-of-code/30-bitwise-and.linq linguist-language=fsharp
/main/30-days-of-code/30-conditional-statements.linq linguist-language=fsharp
/main/30-days-of-code/30-dictionaries-and-maps.linq linguist-language=fsharp
/main/30-days-of-code/30-hello-world.linq linguist-language=fsharp
/main/30-days-of-code/30-loops.linq linguist-language=fsharp
/main/30-days-of-code/30-nested-logic.linq linguist-language=fsharp
/main/30-days-of-code/30-operators.linq linguist-language=fsharp
/main/30-days-of-code/30-recursion.linq linguist-language=fsharp
/main/30-days-of-code/30-review-loop-modified.linq linguist-language=fsharp
/main/30-days-of-code/30-review-loop.linq linguist-language=fsharp
/main/30-days-of-code/30-running-time-and-complexity.linq linguist-language=fsharp
/main/30-days-of-code/30-sorting.linq linguist-language=fsharp
/main/a-very-big-sum/a-very-big-sum.linq linguist-language=fsharp
/main/acm-icpc-team/acm-icpc-team-scratch.linq linguist-language=fsharp
/main/acm-icpc-team/acm-icpc-team-scratch2.linq linguist-language=fsharp
/main/and-product/and-product-scratch.linq linguist-language=fsharp
/main/and-product/and-product-scratch2.linq linguist-language=fsharp
/main/and-product/and-product-scratch3.linq linguist-language=fsharp
/main/and-product/and-product.linq linguist-language=fsharp
/main/angry-children/angry-children.linq linguist-language=fsharp
/main/area-under-curves-and-volume-of-revolving-a-curve/area-under-curves-and-volume-of-revolving-a-curve.linq linguist-language=fsharp
/main/array-rotation/array-rotation-2.linq linguist-language=fsharp
/main/arrays-ds/arrays-ds.linq linguist-language=fsharp
/main/balanced-brackets/balanced-brackets.linq linguist-language=fsharp
/main/beautiful-days-at-the-movies/beautiful-days-at-the-movies-scratch.linq linguist-language=fsharp
/main/beautiful-days-at-the-movies/beautiful-days-at-the-movies.linq linguist-language=fsharp
/main/between-two-sets/between-two-sets-orig.linq linguist-language=fsharp
/main/between-two-sets/between-two-sets.linq linguist-language=fsharp
/main/binary-search-other/bsearch.linq linguist-language=fsharp
/main/binary-search/binary-search-fs.linq linguist-language=fsharp
/main/captain-prime/captain-prime.linq linguist-language=fsharp
/main/captain-prime/captain-prime2.linq linguist-language=fsharp
/main/common-divisors/common-divisors-old.linq linguist-language=fsharp
/main/common-divisors/common-divisors-scratch.linq linguist-language=fsharp
/main/common-divisors/common-divisors-scratch2.linq linguist-language=fsharp
/main/common-divisors/common-divisors-scratch3.linq linguist-language=fsharp
/main/common-divisors/common-divisors.linq linguist-language=fsharp
/main/ctci-queue-using-two-stacks/queue-using-two-stacks.linq linguist-language=fsharp
/main/designer-pdf-viewer/designer-pdf-viewer.linq linguist-language=fsharp
/main/diagonal-difference/diagonal-difference.linq linguist-language=fsharp
/main/equal-stacks/equal-stacks.linq linguist-language=fsharp
/main/equalize-the-array/equalize-the-array.linq linguist-language=fsharp
/main/extra-long-factorials/extra-long-factorials.linq linguist-language=fsharp
/main/extra-long-factorials/extra-long-factorials2.linq linguist-language=fsharp
/main/extra-long-factorials/extra-long-factorials3.linq linguist-language=fsharp
/main/extra-long-factorials/extra-long-factorials4.linq linguist-language=fsharp
/main/extremely-dangerous-virus/extremely-dangerous-virus.linq linguist-language=fsharp
/main/fibonacci-fp/fibonacci-fp.linq linguist-language=fsharp
/main/fibonacci-modified/fibonacci-modified.linq linguist-language=fsharp
/main/fp-array-of-n-elements/fp-array-of-n-elements.linq linguist-language=fsharp
/main/fractal-trees/fractal-trees-backup.linq linguist-language=fsharp
/main/fractal-trees/fractal-trees.linq linguist-language=fsharp
/main/functions-or-not/functions-or-not.linq linguist-language=fsharp
/main/funny-string/funny-string.linq linguist-language=fsharp
/main/gcd/gcd.linq linguist-language=fsharp
/main/happy-ladybugs/happy-ladybugs.linq linguist-language=fsharp
/main/huge-gcd-fp/huge-gcd-fp.linq linguist-language=fsharp
/main/insertionsort1/insertionsort1.linq linguist-language=fsharp
/main/insertionsort2/insertionsort2.linq linguist-language=fsharp
/main/juggler-sequence/juggler-sequence-scratch.linq linguist-language=fsharp
/main/juggler-sequence/juggler-sequence-scratch1.linq linguist-language=fsharp
/main/juggler-sequence/juggler-sequence-scratch2.linq linguist-language=fsharp
/main/juggler-sequence/juggler-sequence-scratch3.linq linguist-language=fsharp
/main/jumping-bunnies/jumping-bunnies.linq linguist-language=fsharp
/main/kundu-and-bubble-wrap/kundu-and-bubble-wrap.linq linguist-language=fsharp
/main/lambda-march-compute-the-area-of-a-polygon/lambda-march-compute-the-area-of-a-polygon.linq linguist-language=fsharp
/main/lambda-march-compute-the-perimeter-of-a-polygon/lambda-march-compute-the-perimeter-of-a-polygon.linq linguist-language=fsharp
/main/length-of-the-longest-nondecreasing-sequence/length-of-the-longest-nondecreasing-sequence.linq linguist-language=fsharp
/main/line-count/linecount-orig.linq linguist-language=fsharp
/main/line-count/linecount.linq linguist-language=fsharp
/main/lists-and-gcd/lists-and-gcd-oldscratch.linq linguist-language=fsharp
/main/lists-and-gcd/lists-and-gcd-scratch.linq linguist-language=fsharp
/main/lists-and-gcd/lists-and-gcd.linq linguist-language=fsharp
/main/maximizing-xor/maximizing-xor.linq linguist-language=fsharp
/main/mean/mean.linq linguist-language=fsharp
/main/mini-max-sum/mini-max-sum.linq linguist-language=fsharp
/main/missing-numbers/missing-numbers.linq linguist-language=fsharp
/main/most-distant/most-distant-precise.linq linguist-language=fsharp
/main/most-distant/most-distant-scratch.linq linguist-language=fsharp
/main/most-distant/most-distant-scratch2.linq linguist-language=fsharp
/main/most-distant/most-distant.linq linguist-language=fsharp
/main/mul/mul.linq linguist-language=fsharp
/main/mul/mul2.linq linguist-language=fsharp
/main/pascal/pascal-scratch.linq linguist-language=fsharp
/main/pascal/pascal.linq linguist-language=fsharp
/main/pentagonal-numbers/pentagonal-numbers.linq linguist-language=fsharp
/main/plus-minus/plus-minus-scratch.linq linguist-language=fsharp
/main/plus-minus/plus-minus-scratch2.linq linguist-language=fsharp
/main/plus-minus/plus-minus-scratch3.linq linguist-language=fsharp
/main/plus-minus/plus-minus-scratch4.linq linguist-language=fsharp
/main/plus-minus/plus-minus.linq linguist-language=fsharp
/main/plus-minus/plus-minus2.linq linguist-language=fsharp
/main/plus-minus/plus-minus3.linq linguist-language=fsharp
/main/plus-minus/plus-minus4.linq linguist-language=fsharp
/main/possible-path/possible-path.linq linguist-language=fsharp
/main/pow-mod-M/pow-mod-M.linq linguist-language=fsharp
/main/pow/pow.linq linguist-language=fsharp
/main/power-of-large-numbers/power-of-large-numbers.linq linguist-language=fsharp
/main/prefix-compression/prefix-compression.linq linguist-language=fsharp
/main/remove-duplicates/remove-duplicates.linq linguist-language=fsharp
/main/rev/rev.linq linguist-language=fsharp
/main/rev/reverse.linq linguist-language=fsharp
/main/reverse-game/reverse-game.linq linguist-language=fsharp
/main/rotate-string/rotate-string.linq linguist-language=fsharp
/main/running-time/runningtime.linq linguist-language=fsharp
/main/sansa-and-xor/sansa-and-xor.linq linguist-language=fsharp
/main/scan/scan.linq linguist-language=fsharp
/main/security-bijective-functions/security-bijective-functions.linq linguist-language=fsharp
/main/security-encryption-scheme/security-encryption-scheme.linq linguist-language=fsharp
/main/security-function-ii/security-function-ii.linq linguist-language=fsharp
/main/security-inverse-of-a-function/security-inverse-of-a-function-scratch.linq linguist-language=fsharp
/main/security-inverse-of-a-function/security-inverse-of-a-function.linq linguist-language=fsharp
/main/security-involution/security-involution.linq linguist-language=fsharp
/main/security-key-spaces/security-key-spaces.linq linguist-language=fsharp
/main/security-message-space-and-ciphertext-space/security-message-space-and-ciphertext-space.linq linguist-language=fsharp
/main/security-permutations/security-permutations.linq linguist-language=fsharp
/main/security-permutations/security-permutations2.linq linguist-language=fsharp
/main/security-tutorial-functions/security-tutorial-functions.linq linguist-language=fsharp
/main/sequence-full-of-colors/sequence-full-of-colors.linq linguist-language=fsharp
/main/simple-array-sum/simple-array-sum.linq linguist-language=fsharp
/main/simple-questions/simple-questions-scratch.linq linguist-language=fsharp
/main/simple-questions/simple-questions-scratch2.linq linguist-language=fsharp
/main/simple-questions/simple-questions.linq linguist-language=fsharp
/main/simple-text-editor/simple-text-editor-scratch.linq linguist-language=fsharp
/main/simple-text-editor/simple-text-editor.linq linguist-language=fsharp
/main/simple-text-editor/simple-text-editor2.linq linguist-language=fsharp
/main/solve-me-first/solve-me-first.linq linguist-language=fsharp
/main/sqrt-rounding-test/sqrt-rounding-test.linq linguist-language=fsharp
/main/square/square-scratch.linq linguist-language=fsharp
/main/square/square.linq linguist-language=fsharp
/main/staircase/staircase.linq linguist-language=fsharp
/main/string-compression/string-compression-scratch.linq linguist-language=fsharp
/main/string-compression/string-compression.linq linguist-language=fsharp
/main/string-mingling/string-mingling.linq linguist-language=fsharp
/main/string-o-permute/string-o-permute.linq linguist-language=fsharp
/main/string-o-permute/string-o-permute1.linq linguist-language=fsharp
/main/string-o-permute/string-o-permute2.linq linguist-language=fsharp
/main/string-o-permute/string-o-permute3.linq linguist-language=fsharp
/main/string-o-permute/string-o-permute4.linq linguist-language=fsharp
/main/string-o-permute/string-o-permute5.linq linguist-language=fsharp
/main/string-o-permute/string-o-permute6.linq linguist-language=fsharp
/main/string-reduction/string-reductions.linq linguist-language=fsharp
/main/string-reduction/string-reductions2.linq linguist-language=fsharp
/main/string-reduction/string-reductions3.linq linguist-language=fsharp
/main/string-reduction/string-reductions4-backup.linq linguist-language=fsharp
/main/string-reduction/string-reductions4.linq linguist-language=fsharp
/main/subset-sum/subset-sum.linq linguist-language=fsharp
/main/sum-of-squares/sumOfSquares_FSharp.linq linguist-language=fsharp
/main/sum-squares/sum-squares.linq linguist-language=fsharp
/main/super-digit/super-digit.linq linguist-language=fsharp
/main/super-queens-on-a-chessboard/super-queens-on-a-chessboard-roughscratch.linq linguist-language=fsharp
/main/super-queens-on-a-chessboard/super-queens-on-a-chessboard-scratch.linq linguist-language=fsharp
/main/super-queens-on-a-chessboard/super-queens-on-a-chessboard.linq linguist-language=fsharp
/main/the-sums-of-powers/the-sums-of-powers-redo-scratch.linq linguist-language=fsharp
/main/the-sums-of-powers/the-sums-of-powers-redo.linq linguist-language=fsharp
/main/the-sums-of-powers/the-sums-of-powers.linq linguist-language=fsharp
/main/the-time-in-words/the-time-in-words.linq linguist-language=fsharp
/main/time-conversion/time-conversion.linq linguist-language=fsharp
/main/tutorial-intro/tutorial-intro.linq linguist-language=fsharp
/main/two-characters/two-characters-scratch.linq linguist-language=fsharp
/main/two-characters/two-characters.linq linguist-language=fsharp
/meta/sieve/sieve-fs.linq linguist-language=fsharp
/meta/sieve/sieve-fs2-bench.linq linguist-language=fsharp
/meta/sieve/sieve-fs2.linq linguist-language=fsharp
/meta/sieve/sieve-fs3-bench.linq linguist-language=fsharp
/meta/sieve/sieve-fs3.linq linguist-language=fsharp
